*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    background-color: #013024;
    color: #ffffff;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}